---
# Introduction to

<img src = '../SUPAPYT-files/python-logo.jpeg', width = 400>

# <p style='text-align: right;'> - Crash Course </p> 
---

Welcome to this brief, introductory couse in the python programming language!

It's intended to take a few hours and to be suitable for novice programmers.

More in depth materials are available at the [python homepage](https://www.python.org), including a [beginners' guide](https://www.python.org/about/gettingstarted/) and a longer [tutorial](https://docs.python.org/3/tutorial/).

# Jupyter notebooks

This course is presented in the form of a [Jupyter notebook](http://jupyter.org/), which provides a web browser based interface to the python interpreter, so you can execute code, as well as text formatting and other nice features. This is particularly useful for teaching, though there are several other ways to interact with the python interpreter. Which to use depends on your use case.

Jupyter notebooks are best navigated with the keyboard. They're arranged in cells, which can be text to be displayed or code to be evaluated. To evaluate a cell, use `Shift+Enter`. This displays the output of the cell and moves you on to the next cell, creating one if necessary.

There are two modes in a notebook: 
 - Command mode, accessed by pressing `Esc`. In this mode you can create a new cell below the current one by pressing `B` or above it with `A`. You can also change the type of a cell to code with `Y` or text with `M`. You can also scroll through cells using the arrow keys.
 - Edit mode, accessed by pressing `Enter`. This allows you to edit the contents of a cell.
 
You can evaluate a cell with `Shift+Enter` in either mode.

Various other keyboard shortcuts are available, which you can view under Help $\to$ Keyboard Shortcuts on the menu bar at the top of the page.

Work through this notebook by evaluating the cells in turn. Some are left blank so you can try things out. You can also edit any cell or add new cells as you like.

# Basic python

Python is designed to be intuitive, easy to learn and easy to read.

It's an "interpreted" language, meaning that you can pass any statement to the interpreter for immediate evaluation. This is compared to a "compiled" language where an intermediate "compiler" step translates human readable code into code that's understood by the computer.

## Numbers

The python interpreter is useful as a simple calculator:

In [1]:
1 + 5

6

In [2]:
24 * 365

8760

In [4]:
60**2

3600

The basic mathematical operations available are:

    +    add

    -    subtract

    *    multiply

    /    divide

    %    remainder

    **   exponentiate (raise to a power)

You can create named variables and give them a value like so:

In [5]:
a = 12.5
b = 42.

Note that this doesn't give any output - that only happens if you have an expression on the last line of a cell that's not assigned to a variable. You can then check the value of the variables like so:

In [6]:
a

12.5

In [7]:
b

42.0

You can also use the `print` function to output the value of a variable at any point in a cell:

In [12]:
a = 264.3
print(a)
b = 33.3
print(b)

264.3
33.3

Note that changing the value of a variable is done in the same way as declaring a new variable. 

You can assign several variables the same value at once with, eg:

In [17]:
x = y = z = 0.
x, y, z

(0.0, 0.0, 0.0)

or different values with:

In [19]:
x, y, z = 1, 2, 3
print(x, y, z)

1 2 3

Having defined some variables, you can use them in expressions just like numbers:

In [13]:
a * b

8801.19

or assign new variables from the value of expressions including other variables:

In [14]:
c = 5 * a**2 + b/34.5
c

349273.41521739133

So it's straightforward to do basic calculations, eg, work out the kinetic energy of a 65 kg pro cyclist travelling at 17 m/s (~60 kph) and that of a 75 kg commuter cyclist travelling at 5.6 m/s (~20 kph), then work out the ratio of the two ($E = \frac{1}{2} m v^2)$:

If you want to repeat a calculation with different input values, you can define a function using the `def` keyword, like so:

In [2]:
def kinetic_energy(mass, velocity) :
    return 0.5 * mass * velocity**2

Following `def` you have:
- The name of the function 
- In brackets, the names of the arguments of the function separated by commas
- A colon at the end of the definition line
- An indented block of code. This is what's evaluated when the function is called. It can be as many lines as needed. All lines within the function must have the same indentation (number of spaces) at the start of the line.
- The `return` keyword followed by the value returned by the function.

Having defined a function, you can now call it, passing the argument values between the bracket, and (optionally) assign a variable from the return value:

In [3]:
ek_pro = kinetic_energy(65, 17)
print(ek_pro)

9392.5

(Note that `print` is a built-in function which outputs to the console the arguments passed to it.)

This way, for repeated calculations, you only need to write the function definition once and then you can use it anywhere you need it. 

This avoids the need to copy-and-paste the same expression to several places. If you find yourself copy-and-pasting a block of code, you should probably put it in a function instead. Then, if you need to change the expression at all, you only need to do so in one place!

Using the above function, you can easily redo the question of the cyclists' kinetic energies for any input values.

## Strings

Apart from numbers, there are several other basic data types in python. "Strings" are sequences of characters, and are defined using either single or double quotes:

In [8]:
str1 = "A string with double quotes"
str1

'A string with double quotes'

In [9]:
str2 = 'A string with single quotes'
str2

'A string with single quotes'

In [10]:
print(str1)
print(str2)

A string with double quotes
A string with single quotes

Note that putting the string at the end of a cell gives a different output to printing it. In the first case, it shows the python representation of the variable, while `print` shows the human readable version (a little more on that later).

Python doesn't care whether you use single or double quotes, so long as you use the same type at the start and end of the string.

If you want to declare a string that contains quote marks of the same type as those enclosing it, you need to "escape" the contained quotes with a backslash:

In [11]:
'This won't work

SyntaxError: invalid syntax (<ipython-input-11-9f82628e4296>, line 1)

Here we have our first "exception" - these are raised when python encounters a problem and can't continue. In this case, you get a `SyntaxError` since the given expression can't be understood by the interpreter.

In [16]:
'This isn\'t a problem'

"This isn't a problem"

In [17]:
"This isn't a problem either"

"This isn't a problem either"

You can declare multi-line strings using triple quotes:

In [18]:
multi = """This
is a multi-line
string"""
multi

'This\nis a multi-line\nstring'

Here `\n` is the newline character.

In [19]:
print(multi)

This
is a multi-line
string

You can also use `\n` when declaring strings:

In [20]:
multi = 'A different\nmulti-line\nstring'
print(multi)

A different
multi-line
string

Strings can be concatenated with `+` or `+=`:

In [21]:
line = 'Brave'
line2 = line + ' Sir Robin'
print(line2)
line2 += ' ran away'
print(line2)

Brave Sir Robin
Brave Sir Robin ran away

Square brackets give access to single characters or "slices" of the string:

In [22]:
print(line2[0])
print(line2[4])
print(line2[0:5])

B
e
Brave

The indices start at zero and go up to the length of the string minus 1. 

When slicing, you give two indices separated by a colon. The returned slice goes from the first index up to but not including the second index. If you omit the first index, the slice starts at the beginning. If you omit the second index, the slice goes to the end.

In [24]:
print(line2[:16])
print(line2[16:])

Brave Sir Robin
ran away

Negative indices can also be used, which count backwards from the end of the string:

In [27]:
print(line2[-8:-4])
print(line2[-4:])

ran
away

Strings are mainly used for making output more easily readable (though they have other applications). So, rather than just printing the numerical value, you can add some useful info:

In [32]:
m = 80.2423
v = 10.6543
ek = kinetic_energy(m, v)
print('The kinetic energy of a', m, 'kg cyclist travelling at', v, 'm/s is', ek, 'J.')

The kinetic energy of a 80.2423 kg cyclist travelling at 10.6543 m/s is 4554.316573843563 J.

However, all those trailing digits aren't really needed. To make things tidier, you can use the `format` method:

In [33]:
ek_str = '{0:.2f}'.format(ek)
print('The kinetic energy of a', m, 'kg cyclist travelling at', v, 'm/s is', ek_str, 'J.')

The kinetic energy of a 80.2423 kg cyclist travelling at 10.6543 m/s is 4554.32 J.

When calling `format` on a string, the parts in curly brackets, {}, are replaced with formatted versions of the arguments given to `format`. Within the curly brackets, you have first the index of the argument passed to format, then a colon, then the formatting arguments. Here, `.2f` means round to 2 decimal places and output as a floating point number.

So we can take it further:

In [34]:
message = 'The kinetic energy of a {0:.1f} kg cyclist travelling at {1:.1f} m/s is {2:.2f} J.'.format(m, v, ek)
print(message)

The kinetic energy of a 80.2 kg cyclist travelling at 10.7 m/s is 4554.32 J.

For a full description of the formatting syntax see [here](http://docs.python.org/3/library/string.html#formatstrings), and [here](http://docs.python.org/3/library/string.html#formatspec) for a description of the various flags available.

Various other useful formatting methods exist for strings, eg: rjust, ljust, center, rstrip, lstrip, zfill ...

Try making the output of the kinetic energy ratio nicer to read:

## Booleans

These are simply `True` and `False`.

In [36]:
x = True
y = False
x, y

(True, False)

They're often produced through comparisons:

In [39]:
a = 1
b = 2
# Lines starting with a hash '#' are comments and are ignored by
# the python interpreter.
# Double equals '==' yields True if the compared values are the same
# and False if not.
a == b

False

In [40]:
# Not equals '!=' gives the opposite.
a != b

True

You can also use the `is` and `not` keywords instead:

In [41]:
a is b

False

In [42]:
a is 1

True

In [43]:
a is not 1

False

Variables can be assigned from comparisions too:

In [44]:
k = (a == b)
k

False

Booleans are mainly used for flow control - if certain requirements are satisfied then different bits of code are executed. This is done in conjunction with the `if`, `elif` and `else` keywords.

In [46]:
# First, the 'if' keyword followed by a boolean expression.
# If the expression evaluates to True, the indented block of 
# code following the 'if' is executed.
if a == 1 :
    print('a is 1')

a is 1

In [49]:
# You can add more conditions with 'elif'.
# Each boolean expression is evaluated in turn until one
# is found to be true, then that block of code is executed.
if a == b :
    print('a and b are the same')
# '<' means 'less than', '>' is 'greater than'.
elif a < b :
    print('a is less than b')
elif a == 1 :
    print('a is one')

a is less than b

Note that even though `a == 1` would evaulate to `True`, this isn't executed as the expression before is found to be `True` first.

You can also use `else` to add a block of code that's evaluated if all the preceding expressions evaluate to `False`.

In [50]:
if a > b :
    print('a is greater than b')
elif a == 2 :
    print('a is 2')
else :
    print('a =', a)

a = 1

You can use as many `elif` statements as you need. The `else` is optional as well.

## None

In any programming language, it's important to have a null type. In python, this is `None`.

In [51]:
a = None
a

The above gives no output, but you can print `None`:

In [52]:
print(a)

None

This is also useful for comparisons and flow control:

In [54]:
if a == None :
    print('a is None')
else :
    print('a is something')

a is None

Note that `None` is different from zero, since zero is a number type:

In [55]:
a = None
b = 0
a == b

False

You can add things to zero to get a new number:

In [58]:
b += 1
b

2

But `None` is just `None`, you can't change it:

In [60]:
a += 1

TypeError: unsupported operand type(s) for +=: 'NoneType' and 'int'

If you have a function without a `return` statement, it actually returns `None`:

In [61]:
def no_return() :
    print('This function does nothing')

In [62]:
a = no_return()
print(a)

This function does nothing
None

## Lists

These are ordered sequences of objects. They can contain any number and any type of object. They're defined with square brackets '[]':

In [83]:
l = [1, 2, 3.4, None, 0]
l

[1, 2, 3.4, None, 0]

You can access elements of the list with an integer in square brackets, as with strings:

In [84]:
l[0]

1

In [85]:
l[2]

3.4

Negative indices work too:

In [86]:
l[-1]

0

And slicing, which returns a sub-list:

In [87]:
l[2:4]

[3.4, None]

In [88]:
l[-3:]

[3.4, None, 0]

You can change the value of an element in a list by accessing the element and assigning it a new value:

In [89]:
print(l)
l[2] = 3000
print(l)

[1, 2, 3.4, None, 0]
[1, 2, 3000, None, 0]

This also works for slices:

In [90]:
l[:2] = [32, 64]
l

[32, 64, 3000, None, 0]

You can add an object to a list by calling `append` on it, or remove an object with `pop`:

In [91]:
l.append(1000)
l

[32, 64, 3000, None, 0, 1000]

In [92]:
# 'pop' without an argument removes the last element in the list
# and returns it.
l.pop()

1000

In [93]:
l

[32, 64, 3000, None, 0]

In [94]:
# 'pop' with an integer argument removes the element with that index.
l.pop(1)

64

In [95]:
l

[32, 3000, None, 0]

You can concatenate lists with `+`, or `+=`:

In [101]:
l2 = l + [365, 247]
l2

[32, 3000, None, 0, 365, 247]

In [102]:
l2 += [888, 999]
l2

[32, 3000, None, 0, 365, 247, 888, 999]

The `len` method gives you the number of elements in a `list` (or other sequence):

In [136]:
len(l)

4

In [137]:
len(l2)

8

## Tuples

These are essentially the same as lists, except that once you've declared a tuple you can't change the elemets in it. They're declared with round brackets `()`.

In [96]:
t = (5, 4, 3, 2, 1)

In [97]:
# Access an element
t[0]

5

In [99]:
# Access a slice, which returns a tuple
t[1:3]

(4, 3)

In [100]:
# Trying to change an element fails though:
t[0] = 6

TypeError: 'tuple' object does not support item assignment

Consequently, tuples don't have `append` or `pop` methods.

This is useful if you make a sequence that you don't want anyone to be able to change later.

## Dictionaries

These are sequences of (key, value) pairs. Rather than accessing elements using the index, you access them using keys. 

You declare them with curly brackets `{}`:

In [111]:
# The syntax is key : value, repeated as needed.
d = {'c' : 42, 'b' : True, 'a' : None}
d

{'c': 42, 'b': True, 'a': None}

Then access elements using the key in square brackets:

In [112]:
d['c']

42

Change the value of an element:

In [113]:
d['a'] = 99
d

{'c': 42, 'b': True, 'a': 99}

Add a new element:

In [114]:
d['f'] = -32
d

{'c': 42, 'b': True, 'a': 99, 'f': -32}

Strings are commonly used as keys, but other types can be used:

In [116]:
d[3.14] = 'pi'
d

{'c': 42, 'b': True, 'a': 99, 'f': -32, 3.14: 'pi'}

In [117]:
d[3.14]

'pi'

## Sets

This is the final type of builtin sequence in python. A set contains unique elements. You declare them like lists or tuples with curly brackets:

In [118]:
s = {1,2,3}
s

{1, 2, 3}

Any duplicate elements are removed:

In [120]:
s = {1,2,3,1,2,3}
s

{1, 2, 3}

Alternatively, you can use the `set` constructor, and pass it any other sequence, to select unique elements:

In [123]:
s = set('spam and eggs')
s

{' ', 'a', 'd', 'e', 'g', 'm', 'n', 'p', 's'}

The `in` keyword can use used to check if a set (or any other sequence) contains an element:

In [125]:
'a' in s

True

In [126]:
'b' in s

False

Add or remove elements with the `add` and `remove` functions:

In [128]:
s.add('k')
print(s)
'k' in s

{'a', 'k', 'n', 'e', 's', 'p', 'g', 'd', ' ', 'm'}

True

In [129]:
s.remove('p')
print(s)
'p' in s

{'a', 'k', 'n', 'e', 's', 'g', 'd', ' ', 'm'}

False

Sets support operations like mathematical sets, eg, intersection, union, difference:

In [131]:
s2 = set('spam and eggs')
# Get the set of elements in s2 but not in s
s2.difference(s)

{'p'}

In [132]:
# Get the set of elements in both s and s2
s2.intersection(s)

{' ', 'a', 'd', 'e', 'g', 'm', 'n', 's'}

In [133]:
# Get the set of elements in either s or s2
s2.union(s)

{' ', 'a', 'd', 'e', 'g', 'k', 'm', 'n', 'p', 's'}

## Iteration

This allows you to repeatedly execute a block of code until some exit condition is met.

One type of iteration is via a `while` loop. This takes a boolean expression and executes the code block until the expression evaluates to `False`.

In [1]:
i = 0
while i < 10 :
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

The other option is a `for` loop, which takes a sequence (or other iterable object) and loops over the elements in the sequence, assinging them to a given variable at each iteration. This is one of the main benefits to sequences.

In [3]:
l = [1, 4, 7, 10]
for i in l :
    print(i)

1
4
7
10

You can loop over any sequence with a `for` loop.

In [4]:
s = set('Norwegian Blue')
for c in s :
    print(c)

w
N
e
o
l
g
a
n
r
B
u
i

If you loop over a dictionary, it gives you the keys:

In [5]:
d = {'a' : 1, 'b' : 2, 'c' : 3}
for key in d :
    print(key)
    print(d[key])

a
1
b
2
c
3

Using the `items` function of dictionaries, you can loop over both keys and values simultaneously:

In [6]:
for key, value in d.items() :
    print(key)
    print(value)

a
1
b
2
c
3